.page-heading {
    width: fit-content;
    color: #4600a1;
    font-weight: bolder;
    position: relative;
}

.page-heading::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 30%;
    height: 3px;
    border-radius: 4px;
    background-color: #6e00ff;
}

.page-desc {
    width: fit-content;
    margin-top: 10px;
    color: grey;
    font-weight: 400;
}